.quizAnswer{
    margin-left: auto;
    margin-right: auto;
    position:relative
}

.subtitle{
    background-color: rgb(5, 92, 127);
    font-size: 17pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    color: bisque;
}

.accentColor{
    background-color: rgb(93, 215, 249);
}

.accentColor_font{
    color: whitesmoke;
}

.bold{
    font-weight: bold;
    
}

.large{
    font-size:14pt;
}

.x-large{
    font-size:x-large;
}

.lightgray{
    color:lightgray;
    
}
.audio-button{
    width:25px;
    height:25px;
}
.padding10px{
    padding: 10px;
}


.arrow1{
    position: absolute;
    top: 220px;
    left: 10px;
    width: 50px;
    z-index: 10;

}
.arrow2{
    position: absolute;
    top: 100px;
    left: 140px;
    width: 50px;
    z-index: 10;

}
.arrow3{
    position: absolute;
    top: 170px;
    left: 500px;
    width: 50px;
    z-index: 10;

}
.arrow4{
    position: absolute;
    top: 280px;
    left: 130px;
    width: 50px;
    z-index: 10;

}
.arrow5{
    position: absolute;
    top: 190px;
    left: 260px;
    width: 50px;
    z-index: 10;

}
.arrow6{
    position: absolute;
    top: 220px;
    left: 405px;
    width: 50px;
    z-index: 10;

}

.arrow7{
    position: absolute;
    top: 370px;
    left: 275px;
    width: 50px;
    z-index: 10;

}
.arrow8{
    position: absolute;
    top: 390px;
    left: 470px;
    width: 50px;
    z-index: 10;

}
.hidden{

    visibility: hidden;
}

.alert-fixed {
    position:fixed; 
    top: 40%; 
    left: 35%;
    width: 600px;
    z-index: 9999; 
    border-radius: 15px;
    font-size: x-large;
}

.hide-btn {
    position:fixed; 
    top: 40%; 
    left: 66%;
    width: 60px;
    z-index: 9999; 
    border-radius: 15px;
    font-size: x-large;
}

.vertical_center {
    position: fixed;
    top: 50%
}
.feedbackTitle{
    font-size: xx-large;
    color: red;
    font-weight: bold;
    
}
.startButton{
    font-size: xx-large;
    font-weight: 800;
    margin: auto;
    display: flex;
    
}

#welcome_background {
    background-image: url('welcome_background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-blend-mode: luminosity;
}

body{
    /* background-color: black; */
    background-image: url('welcome_background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-blend-mode: luminosity;
}

.drum_box {
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 0px 50px 25px rgba(84, 199, 248, 0.787);
}

.inline-block {
    display:inline-block;
}

.drumkit{
    width: 860px;
    /* display: block; */
    position: relative;
    z-index: 1;
    border-radius: 30px;
}
.ans1{
    position: absolute;
    top: 280px;
    left: 90px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;

}
.ans2{
    position: absolute;
    top: 180px;
    left: 220px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;

}
.ans3{
    position: absolute;
    top: 280px;
    left: 600px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;

}
.ans4{
    position: absolute;
    top: 340px;
    left: 195px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;

}
.ans5{
    position: absolute;
    top: 240px;
    left: 310px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;

}
.ans6{
    position: absolute;
    top: 280px;
    left: 475px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;

}

.ans7{
    position: absolute;
    top: 490px;
    left: 560px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;
    

}
.ans8{
    position: absolute;
    top: 470px;
    left: 375px;
    width: 80px;
    z-index: 15;
    border-color: skyblue;
    background-color: skyblue;
    text-align: center;
    

}
.alert-high{
    height: 6.5cm;
}
.learn-alert{
    height: auto;
}
.drumstick:hover{
    cursor:url(/static/cursor.cur), auto;
}
.drumstick:active{
    cursor:url(/static/cursor_clicked.cur),auto;
}

#btn_alert{
    float: right;
}
.audio-option{
    width:30px;
    height:30px;
}
.unselected{
    background-color: lightgray; 
    color: black;
}
.selected{
    background-color: skyblue; 
    color: black;
}