
{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
    var drum_kit = {{drum_kit|tojson}}
</script>





<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="drum_box">
            <div class="subtitle"></div>
            <img src="/static/drumkit.png" class="drumkit" usemap="#mymap" id="drum">
            <map name="mymap">
                <area shape="circle" coords="136,224,64" href="#" onclick="play()" id="1">
                <area shape="circle" coords="270,120,75" href="#" onclick="play()" id="2">
                <area shape="circle" coords="672,200,104" href="#" onclick="play()" id="3">
                <area shape="circle" coords="240,300,64" href="#" onclick="play()" id="4">
                <area shape="circle" coords="360,224,40" href="#" onclick="play()" id="5">
                <area shape="circle" coords="510,248,48" href="#" onclick="play()" id="6">
                <area shape="circle" coords="600,440,84" href="#" onclick="play()" id="7">   
                <area shape="circle" coords="416,400,80" href="#" onclick="play()" id="8">
            </map>
        </div>
        
        
    </div>
    <div id = "col_third" class="col-1">
        <div class="vertical_center">
            <button class="btn btn-info hidden" type="button" id="quizbutton">Quiz</button>
        </div>
    </div>
</div>

<div id="alert_section" class="m-4"> 
    <!-- <div id="alert" class="alert alert-info alert-dismissible fade show alert-fixed">
        <strong>Note!</strong>  Try them all before the quiz.
        <button type="button" class="btn-close" id="btn_alert"></button>
    </div> -->
</div>





{% endblock %}