{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quizCorrectness.js') }}"></script>

<script>
    var data = {{data|tojson}} 
    var drum_kit = {{drum_kit|tojson}} 
    var next_id = {{next_id|tojson}}
    
</script>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="drum_box">
            <div class="subtitle">
                <div id="subtitle_content" class="padding10px">
                    <span id="answerTitle"></span>
                    
                    <!-- <input type="image" src="/static/audio-button.png" class="audio-button" OnClick="playQuestion()"/> -->
    
                </div>
    
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="quizAnswer">
                        <img src="/static/drumkit.png" class="drumkit" usemap="#mymap" id="drum">
                        <map name="mymap">
                            <area class = "drumstick" shape="circle" coords="136,224,64" href="#" onclick="play(this)" id="1">
                            <area class = "drumstick" shape="circle" coords="270,120,75" href="#" onclick="play(this)" id="2">
                            <area class = "drumstick" shape="circle" coords="672,200,104" href="#" onclick="play(this)" id="3">
                            <area class = "drumstick" shape="circle" coords="240,300,64" href="#" onclick="play(this)" id="4">
                            <area class = "drumstick" shape="circle" coords="360,224,40" href="#" onclick="play(this)" id="5">
                            <area class = "drumstick" shape="circle" coords="510,248,48" href="#" onclick="play(this)" id="6">
                            <area class = "drumstick" shape="circle" coords="600,440,84" href="#" onclick="play(this)" id="7">   
                            <area class = "drumstick" shape="circle" coords="416,400,80" href="#" onclick="play(this)" id="8">
                            
            
                        </map>
                        <img src="/static/arrow.png" class="arrow1 hidden" id="1arrow"> 
                        <img src="/static/arrow.png" class="arrow2 hidden" id="2arrow">
                        <img src="/static/arrow.png" class="arrow3 hidden" id="3arrow">
                        <img src="/static/arrow.png" class="arrow4 hidden" id="4arrow">
                        <img src="/static/arrow.png" class="arrow5 hidden" id="5arrow">
                        <img src="/static/arrow.png" class="arrow6 hidden" id="6arrow">
                        <img src="/static/arrow.png" class="arrow7 hidden" id="8arrow">
                        <img src="/static/arrow.png" class="arrow8 hidden" id="7arrow">
                        
                        
            
                    </div>
                    <div class="row" id="quizOptions">
                        <div class="col-3">
                            <button type="button" class="btn btn-info unselected" id="Aoption" >A</button>
                            <img src="/static/audio-button.png" class="audio-option" id="A" OnClick="playAnswerA()">
            
                            
            
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-info selected" id="Boption">B</button>
                            <img src="/static/audio-button.png" class="audio-option" id="B" OnClick="playAnswerB()">
            
                            
            
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-info unselected" id="Coption">C</button>
                            <img src="/static/audio-button.png" class="audio-option" id="C" OnClick="playAnswerC()">
            
                            
            
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-info unselected" id="Doption">D</button>
                            <img src="/static/audio-button.png" class="audio-option" id="D" OnClick="playAnswerD()">
            
                            
            
                        </div>
                        
                        
            
                        
            
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>

        
        
    </div>
    <div class="col-1">
        <br>
        <br>


        <button type="button" id="next" class="btn btn-info">Next</button>
        
       
    </div>

</div>





{% endblock %}