{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>

 
    var data = {{data|tojson}} 
    var drum_kit = {{drum_kit|tojson}} 


    
</script>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="drum_box">
            <div class="subtitle">
                <div class="padding10px">
                    <span id="questionTitle">Question 1: Please replicate the tempo  </span>
                    
                    <input type="image" src="/static/audio-button.png" class="audio-button" OnClick="playQuestion()"/>
    
                </div>
    
            </div>
    
            <div class="quizAnswer">
                <img src="/static/drumkit.png" class="drumkit" usemap="#mymap" id="drum">
                <map name="mymap">
                    <area shape="circle" coords="136,224,64" href="#" onclick="play()" id="1">
                    <area shape="circle" coords="270,120,75" href="#" onclick="play()" id="2">
                    <area shape="circle" coords="672,200,104" href="#" onclick="play()" id="3">
                    <area shape="circle" coords="240,300,64" href="#" onclick="play()" id="4">
                    <area shape="circle" coords="360,224,40" href="#" onclick="play()" id="5">
                    <area shape="circle" coords="510,248,48" href="#" onclick="play()" id="6">
                    <area shape="circle" coords="600,440,84" href="#" onclick="play()" id="7">
                    <area shape="circle" coords="416,400,80" href="#" onclick="play()" id="8">
    
                </map> 
                <div class="ans1" id="1ans"></div>
                <div class="ans2" id="2ans"></div>
                <div class="ans3" id="3ans"></div>
                <div class="ans4" id="4ans"></div>  
                <div class="ans5" id="5ans"></div>
                <div class="ans6" id="6ans"></div>
                <div class="ans7" id="7ans"></div>
                <div class="ans8" id="8ans"></div>  
            </div>
        </div>

        
    </div>
    <div class="col-1">
        <br>
        <br>
        <br>
        <br>
        <div>
            <button type="button " id="clear" class="btn btn-info">Clear</button>

        </div>
        <br>
        <br>
        <div>
            <button type="button" id="submit" class="btn btn-info">Submit</button>

        </div>
        <br>
        <br>
        <div>
            <button type="button" id="next" class="hidden">Next</button>

        </div>
        
        
        

    </div>
    <div id="alert_section" class="m-4 hidden"> 
        <div id="alert" class="alert alert-info alert-dismissible fade show alert-fixed">
            <div id="alert_feedback">
                Your answer is correct!

            </div>
        
            <div class="row">
                <div class="col-6"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-info" id="alert_next">Next</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-info" id="alert_answer">View Answer</button>


                </div>
                
            </div>
        </div>
    </div>

</div>





{% endblock %}