{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    let data = {{data|tojson}} 
    console.log(data)
    let score = {{score|tojson}} 
    console.log(score)
    
    
    
    
    
</script>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="subtitle">
            <div class="padding10px">
                <span id="questionTitle">Question 1: Please replicate the tempo  </span>
                
                <input type="image" src="/static/audio-button.png" class="audio-button" OnClick="play()"/>

            </div>

        </div>
        <div class="quizAnswer">
            <img src="/static/drumkit.png" class="drumkit" usemap="#mymap" id="drum">
            <map name="mymap">
                <area shape="circle" coords="136,224,64" href="#" onclick="play1()" id="crash1">
                <area shape="circle" coords="270,120,75" href="#" onclick="play2()" id="crash2">
                <area shape="circle" coords="672,200,104" href="#" onclick="play3()" id="crash3">
                <area shape="circle" coords="240,300,64" href="#" onclick="play4()" id="drum1">
                <area shape="circle" coords="360,224,40" href="#" onclick="play5()" id="drum2">
                <area shape="circle" coords="510,248,48" href="#" onclick="play6()" id="drum3">
                <area shape="circle" coords="416,400,80" href="#" onclick="play7()" id="drum4">
                <area shape="circle" coords="600,440,84" href="#" onclick="play8()" id="drum5">

            </map>
            
            

        </div>
        
    </div>
    <div class="col-1">
        <br>
        <br>
        <br>
        <br>
        <div>
            <button type="button" id="clear">Clear</button>

        </div>
        <br>
        <br>
        <div>
            <button type="button" id="submit">Submit</button>

        </div>
        <br>
        <br>
        <div>
            <button type="button" id="next" class="hidden">Next</button>

        </div>
        
        
        
    </div>

</div>





{% endblock %}